aiofiles
annotated-types
anyio
asgiref
asttokens
bidict
click
colorama
comm
debugpy
decorator
distlib
Django
docx2pdf
et-xmlfile
executing
fastapi
filelock
h11
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
lxml
MarkupSafe
matplotlib-inline
nest-asyncio
openpyxl
packaging
parso
pdf2image
pillow
platformdirs
prompt-toolkit
psutil
psycopg2-binary
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
python-docx
python-engineio
python-multipart
python-socketio
pytz
pywin32
pyzmq
simple-websocket
six
sniffio
sqlparse
stack-data
starlette
tornado
tqdm
traitlets
typing_extensions
tzdata
unoconv
uvicorn
virtualenv
wcwidth
whitenoise
wsproto
